.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-image:url(assets/images/background-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Inconsolata';
    display: flex;
    justify-content: center;
}
.bodywrapper{
    max-width: 700px;
}
.upload-box {
    border: 2px dashed rgba(255, 255, 255, 0.5);
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    flex-direction: column;
}

.upload-box:hover {
    border-color: white;
    background-color:rgba(255, 255, 255, 0.148) ;
}

/* Error State for Upload Box */
.upload-box.is-invalid {
    border-color: #FF6B6B; /* Orange border for invalid file upload */
    box-shadow: 0 0 12px rgba(255, 107, 107, 0.6);
}
.custom-input {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 12px;
    width: 100%;
    position: relative;
}

/* .custom-input:focus {
    border-color: white;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1);
    --bs-focus-ring-color: white;
    
} */
.custom-input:focus {
    --bs-focus-ring-color: rgba(255, 255, 255, 0.3);;
    background: rgba(255, 255, 255, 0.1);
    border: rgba(255, 255, 255, 0.3);
}


.btn-custom {
    background: #ff6d6d;
    border: none;
    padding: 12px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}
.btn-custom:hover {
    border-color: white;
    box-shadow: 0 0 12px rgba(255, 255, 255, 0.8);
    background: rgba(255, 255, 255, 0.1); /* Keep the same background */
    outline: none;
}
.btn-custom:hover {
    background: #d55a5a;
}
.custom-input::placeholder {
    color: var(--bs-secondary) !important;
}
.custom-input:hover{
    background-color:rgba(255, 255, 255, 0.148) ;
}
#img-view{
    max-width: 500px;
    height: 100%;
    border-radius: 20px;
}
.newimage{
    width: 100px;
    margin-top:1px;
    height: 100px;

}
.image-buttons{
    display: none;
}
.btn:hover{
   color: #FF6B6B;
}

/* --------------------------------- */
.ticket-image{
    width: 20%;
}
.upsidedown{
    transform: rotate(90deg);
    transition: all 1.0s linear;

}
.ticketbox{
    border-color: white;
    background-color:rgba(255, 255, 255, 0.148) ;
    justify-self: center;
    max-width: 600px;
    overflow-x: hidden;

}
.cutline{
    border-left:var(--bs-secondary) dashed;
    height: 150px;
    align-self: center;
    

}